BorderPane{
	-fx-background-color: white;
}

Slider{
	
	
	-fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.selectFileBtn{
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-padding: 10 10 10 10;
}

.selectFileBtn:hover{
	-fx-background-color: lightgrey;
	-fx-border-color: lightgrey;
	-fx-text-fill: black;
}

.fileName{
	-fx-font-size: 15;
	-fx-text-alignment: center;
	-fx-text-overrun: center-ellipsis;
}